# ============================================
# requirements.txt  (Python 3.11)
# Install:
#   conda create -n <name> python=3.11
#   conda activate <name>
#   pip install -r requirements.txt
# ============================================

dash
plotly
numpy
gunicorn